body {
    background-color: #ededed;
}

.subcontainer {
    background-color: #fafafa;
}


table{
    margin-bottom: 0;
    box-shadow: 2px 2px 3px -2px rgba(0,0,0,.4);
}

.subcontainer{
    background-color: #ddd;
    box-shadow: 2px 2px 3px -2px rgba(0,0,0,.4);
}